@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

* {
    font-family: 'Dongle', sans-serif;

    font-size: 30px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#h1 {
    cursor: pointer;

    font-size: 50px;
}

#search-form {
    display: flex;
    direction: row;
    justify-content: center;
    align-items: center;
}

#search-form>label {
    margin: 30px;
}

#card-list {
    margin: 0 auto 0 auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 90px;

    width: 80%;
}

.movie-card {
    border: 3px solid;
    border-radius: 30px;

    margin: 0 auto 0 auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: pointer;

    width: 200px;
    height: 300px;

    box-shadow: 1px 1px 5px 1px grey;

    list-style: none;
}

.movie-card>img {
    width: 70%;
    height: 200px;

    border-radius: 30px;

    margin: 0 30px 0 30px;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}

#modal-body {
    position: relative;
    top: 50%;
    left: 50%;

    width: 800px;
    height: 700px;

    background-color: rgb(255, 255, 255);

    transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50px 100px 1fr 100px;
    justify-items: center;
    align-items: center;
}

#modal-header {
    width: 800px;
    height: 50px;

    grid-column: 1 / 3;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    background-color: grey;
}

#modal-header>div {
    margin: 0 20px 0 20px;
    color: white;
}

#modal-close {
    cursor: pointer;
    justify-self: end;
}

#modal-img {
    grid-column: 1 / 2;
    grid-row: 2 / 5;

    margin-top: 30px;
    align-self: start;
}

#modal-title {
    font-weight: 700;
    font-size: 50px;

    margin-right: 20px;

    justify-self: start;
}

#modal-overview {
    margin-right: 20px;

    font-weight: 300;
}

#modal-voteAvg {
    justify-self: start;
}

.title {
    text-align: center;

    line-height: 20px;
}

#overview {
    font-weight: 300;
}